*{
  margin :0;
  padding: 0;
  text-decoration: none;
}

.container{
  display: flex;

}

.main{
  width: 100%;
  padding: 20px;
}

.sidebar{
  padding-top: 40px;
  background: white;
  color: #000;
  height: 100vh;
  width: 200px;
}

.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 50px;
  transition: all 0.5s;
}

.link:hover{
  background: lightskyblue ;
  color: lightblue;
}

.active{
  background: lightskyblue;
  color: black;
}

.link_text{
  font-size: 30px;
}

.h1{
  padding-left: 30px;
}